.mobileAppBannercontainer {
    position: relative;
    overflow: hidden;
    z-index: 99;
    height: 70px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d7d7d7;
}
.mobileAppBannercontainer > div {
    float: left;
    margin-left: 10px;
}
.mobileAppBannerclose > a {
    color: #777777;
    line-height: 70px;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 14px;
}
.mobileAppBannericonbody {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mobileAppBannercontainer[data-device~="android"] .mobileAppBannericonbody {
    border-radius: 3px;
}
.mobileAppBannertext {
    color: #0d0d0d;
    line-height: 20px;
    margin-top: 15px;
}
.mobileAppBannerappname {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 175px;
}
.mobileAppBannertagline {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif-light, Arial;
    font-size: 13px;
    font-weight: normal;
}
.mobileAppBannergetlink {
    color: #3798eb;
    line-height: normal;
    font-family: "HelveticaNeue-Medium", Helvetica, sans-serif, Arial;
    font-weight: 600;
    font-size: 13px;
}
.mobileAppBannercontainer[data-device~="apple"] .mobileAppBannergetlink {
    font-weight: 500;
}
.mobileAppBannerbaselinehack {
    height: 14px;
    line-height: 0px;
    display: inline-block;
}
.mobileAppBannerget {
    border: 1px solid #3798eb;
    border-radius: 3px;
    padding: 3px 10px;
    display: inline-block;
}
@media all and (max-width: 400px) and (min-width: 0px) {
    .mobileAppBannerget {
        position: absolute;
        top: 22.5px;
        right: 10px;
        float: none !important;
    }
}
@media all and (min-width: 401px) {
    .mobileAppBannerget {
        margin-top: 22.5px;
        margin-left: 30px !important;
    }
}
.deadComp {
    background: transparent;
}
.siteBackground {
    width: 100%;
    position: absolute;
}
.siteBackgroundbgBeforeTransition {
    position: absolute;
    top: 0;
}
.siteBackgroundbgAfterTransition {
    position: absolute;
    top: 0;
}
.loginDialog {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #9C9C9C;
}
.loginDialogblockingLayer {
    background-color: rgba(85, 85, 85, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    zoom: 1;
    overflow: auto;
}
.loginDialogdialog {
    background-color: rgba(170, 170, 170, 0.7);
    width: 455px;
    position: fixed;
    padding: 20px;
}
.loginDialog_wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding: 45px 40px 0 40px;
}
.loginDialogxButton {
    position: absolute;
    top: -14px;
    right: -14px;
    cursor: pointer;
    background: transparent url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/viewer_login_sprite.png) no-repeat right top;
    height: 30px;
    width: 30px;
}
.loginDialogxButton:hover {
    background-position: right -80px;
}
.loginDialogheader {
    padding-bottom: 25px;
    line-height: 30px;
}
.loginDialogfavIcon {
    float: left;
    margin: 7px 7px 0 0;
    width: 16px;
    height: 16px;
}
.loginDialogtitle {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}
.loginDialog[data-state~="mobile"] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #9C9C9C;
    top: 0;
}
.loginDialog[data-state~="mobile"] .loginDialogheader {
    padding-bottom: 10px;
    line-height: 30px;
}
.loginDialog[data-state~="mobile"] .loginDialogfavIcon {
    display: none;
}
.loginDialog[data-state~="mobile"] .loginDialogtitle {
    font-size: 14px;
}
.loginDialog[data-state~="mobile"] .loginDialogdialog {
    width: 260px;
    padding: 10px;
    position: absolute;
}
.loginDialog[data-state~="mobile"] .loginDialog_footer {
    margin-top: 0;
    padding-bottom: 10px;
}
.loginDialog[data-state~="mobile"] .loginDialogcancel {
    font-size: 14px;
    line-height: 30px;
}
.loginDialog[data-state~="mobile"] .loginDialog_wrapper {
    padding: 14px 12px 0 12px;
}
.loginDialog[data-state~="mobile"] .loginDialogsubmitButton {
    height: 30px;
    width: 100px;
    font-size: 14px;
}
.loginDialog_forgot {
    text-align: left;
    font-size: 12px;
}
.loginDialog_forgot a {
    color: #0198ff;
    border-bottom: 1px solid #0198ff;
}
.loginDialog_forgot a:hover {
    color: #0044ff;
    border-bottom: 1px solid #0044ff;
}
.loginDialog_error {
    font-size: 12px;
    color: #d74401;
    text-align: right;
}
.loginDialog_footer {
    width: 100%;
    margin-top: 27px;
    padding-bottom: 40px;
}
.loginDialogcancel {
    color: #9C9C9C;
    font-size: 18px;
    text-decoration: underline;
    line-height: 36px;
}
.loginDialogcancel:hover {
    color: #9c3c3c;
}
.loginDialogpasswordInput label {
    font-size: 14px;
}
.loginDialogpasswordInput label[data-type="password"] {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
}
.loginDialogsubmitButton {
    float: right;
    cursor: pointer;
    border: solid 2px #0064a8;
    height: 36px;
    width: 143px;
    background: transparent url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -252px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.loginDialogsubmitButton:hover {
    background-position: right -352px;
    border-color: #004286;
}
.loginDialog[data-state="normal"] .loginDialogerror {
    display: none;
}
.loginDialog[data-state="error"] .loginDialogerror {
    display: block;
    font-size: 12px;
    color: #d74401;
    text-align: right;
}
.loginDialog[data-state="error"] .loginDialogpasswordInput {
    border-color: #d74401;
}
.loginDialogpasswordInput {
    font-size: 1em;
}
.loginDialogpasswordInput label {
    float: none;
    font-size: 17px;
    line-height: 25px;
    color: #585858;
}
.loginDialogpasswordInput[data-state~="mobile"] label {
    float: none;
    font-size: 14px;
    line-height: 20px;
    color: #585858;
}
.loginDialogpasswordInputinput {
    padding: 0 15px;
    width: 100%;
    height: 42px;
    font-size: 19px;
    line-height: 42px;
    color: #0198ff;
    margin: 0 -3px;
    background: transparent url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;
    border: solid 1px #a1a1a1;
    box-sizing: border-box;
}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput {
    padding: 0 15px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #0198ff;
    margin: 0 -3px;
    background: transparent url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;
    border: solid 1px #a1a1a1;
    box-sizing: border-box;
}
.loginDialogpasswordInputinput[data-type="password"] {
    font-size: 38px;
}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput[data-type="password"] {
    font-size: 14px;
}
.loginDialogpasswordInputerrorMessage {
    display: block;
    font-size: 12px;
    color: #d74401;
    text-align: right;
    height: 15px;
}
.loginDialogpasswordInput:not([data-state~="invalid"]) .loginDialogpasswordInputerrorMessage {
    visibility: hidden;
}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputerrorMessage {
    visibility: visible;
}
.loginDialogpasswordInput[data-state~="invalid"] input {
    border-color: #d74401;
}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputinput {
    border-color: red;
}
.strc1inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.testStyles {
    position: absolute;
    display: none;
    z-index: 2
}
.font-ruler-content::after {
    content: "@#$%%^&*~IAO"
}
