
  .color_0 {
    color: #FFFFFF;
  }

  .backcolor_0 {
    background-color: #FFFFFF;
  }

  .color_1 {
    color: #FFFFFF;
  }

  .backcolor_1 {
    background-color: #FFFFFF;
  }

  .color_2 {
    color: #000000;
  }

  .backcolor_2 {
    background-color: #000000;
  }

  .color_3 {
    color: #ED1C24;
  }

  .backcolor_3 {
    background-color: #ED1C24;
  }

  .color_4 {
    color: #0088CB;
  }

  .backcolor_4 {
    background-color: #0088CB;
  }

  .color_5 {
    color: #FFCB05;
  }

  .backcolor_5 {
    background-color: #FFCB05;
  }

  .color_6 {
    color: #727272;
  }

  .backcolor_6 {
    background-color: #727272;
  }

  .color_7 {
    color: #B0B0B0;
  }

  .backcolor_7 {
    background-color: #B0B0B0;
  }

  .color_8 {
    color: #FFFFFF;
  }

  .backcolor_8 {
    background-color: #FFFFFF;
  }

  .color_9 {
    color: #727272;
  }

  .backcolor_9 {
    background-color: #727272;
  }

  .color_10 {
    color: #B0B0B0;
  }

  .backcolor_10 {
    background-color: #B0B0B0;
  }

  .color_11 {
    color: #FFFFFF;
  }

  .backcolor_11 {
    background-color: #FFFFFF;
  }

  .color_12 {
    color: #D8D8D8;
  }

  .backcolor_12 {
    background-color: #D8D8D8;
  }

  .color_13 {
    color: #A2A2A2;
  }

  .backcolor_13 {
    background-color: #A2A2A2;
  }

  .color_14 {
    color: #5A5959;
  }

  .backcolor_14 {
    background-color: #5A5959;
  }

  .color_15 {
    color: #131210;
  }

  .backcolor_15 {
    background-color: #131210;
  }

  .color_16 {
    color: #D2E3FA;
  }

  .backcolor_16 {
    background-color: #D2E3FA;
  }

  .color_17 {
    color: #84B3F5;
  }

  .backcolor_17 {
    background-color: #84B3F5;
  }

  .color_18 {
    color: #207AF5;
  }

  .backcolor_18 {
    background-color: #207AF5;
  }

  .color_19 {
    color: #13458A;
  }

  .backcolor_19 {
    background-color: #13458A;
  }

  .color_20 {
    color: #0C2549;
  }

  .backcolor_20 {
    background-color: #0C2549;
  }

  .color_21 {
    color: #ECECEC;
  }

  .backcolor_21 {
    background-color: #ECECEC;
  }

  .color_22 {
    color: #898B96;
  }

  .backcolor_22 {
    background-color: #898B96;
  }

  .color_23 {
    color: #25262B;
  }

  .backcolor_23 {
    background-color: #25262B;
  }

  .color_24 {
    color: #25262B;
  }

  .backcolor_24 {
    background-color: #25262B;
  }

  .color_25 {
    color: #25262B;
  }

  .backcolor_25 {
    background-color: #25262B;
  }

  .color_26 {
    color: #FDFD90;
  }

  .backcolor_26 {
    background-color: #FDFD90;
  }

  .color_27 {
    color: #FFFF01;
  }

  .backcolor_27 {
    background-color: #FFFF01;
  }

  .color_28 {
    color: #BDBE04;
  }

  .backcolor_28 {
    background-color: #BDBE04;
  }

  .color_29 {
    color: #7A7A02;
  }

  .backcolor_29 {
    background-color: #7A7A02;
  }

  .color_30 {
    color: #383802;
  }

  .backcolor_30 {
    background-color: #383802;
  }

  .color_31 {
    color: #84B3F5;
  }

  .backcolor_31 {
    background-color: #84B3F5;
  }

  .color_32 {
    color: #207AF5;
  }

  .backcolor_32 {
    background-color: #207AF5;
  }

  .color_33 {
    color: #13458A;
  }

  .backcolor_33 {
    background-color: #13458A;
  }

  .color_34 {
    color: #0D3163;
  }

  .backcolor_34 {
    background-color: #0D3163;
  }

  .color_35 {
    color: #071830;
  }

  .backcolor_35 {
    background-color: #071830;
  }
