
  .font_0 {
    font: normal normal normal 32px/1.25em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_1 {
    font: normal normal normal 14px/1.43em 'Open Sans', sans-serif;
    color: #131210;
  }

  .font_2 {
    font: normal normal normal 40px/1.25em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_3 {
    font: normal normal normal 88px/1.14em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_4 {
    font: normal normal normal 72px/1.18em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_5 {
    font: normal normal normal 56px/1.25em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_6 {
    font: normal normal normal 48px/1.25em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_7 {
    font: normal normal normal 24px/1.46em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_8 {
    font: normal normal normal 20px/1.5em helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    color: #131210;
  }

  .font_9 {
    font: normal normal normal 16px/1.55em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
    color: #131210;
  }

  .font_10 {
    font: normal normal normal 14px/1.43em 'Open Sans', sans-serif;
    color: #131210;
  }
